<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <ol>
            <li th:each="kysymys : ${kysymykset}">
                <span th:text="${kysymys.nimi}">Tehtävän nimi</span>
            </li>
        </ol>
        
        <form method="POST" action="">
            Nimi:<br/>
            <input type="text" name="nimi"/>
            <input type="submit" value="Lisää"/>
        </form>
    </body>
</html>
