<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysymykset:</h1>
        
        <ul>
            <li th:each="kysymys : ${kysymykset}">
                
                <span th:text="${kysymys.kysymysteksti}">Kysymyksen teksti</span><form method ="POST" th:action="@{~/poista/{id}(id=${kysymys.id})}"><input type="submit" value="Poista"/></form>
            </li>
        </ul>
        
        <h2>Luo uusi kysymys:</h2>
        <form method="POST" action="/kysymys">
            <table>
                <tr>
                    <td>Kurssi:</td>
                    <td>
                        <input type="text" name="kurssi"/>
                    </td>
                </tr>
                <tr>
                    <td>Aihe:</td>
                    <td>
                        <input type="text" name="aihe"/>
                    </td>
                    </tr>
                <tr>
                    <td>Kysymysteksti:</td>
                    <td>
                        <input type="text" name="kysymysteksti"/>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Luo kysymys"/>
        </form> 
        
    </body>
</html>
