<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vastaukset</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <form method ="GET" action="/"><input type="submit" value="Palaa"/></form>
        
        
        <h3> Kurssi:</h3> <span th:text ="${kysymys.kurssi}"/>
        <h3>Aihe:</h3> <span th:text ="${kysymys.aihe}"/>
        <h3>Kysymys:</h3> <span th:text ="${kysymys.kysymysteksti}"/>
        
        <h1>Vastaukset:</h1>
        <ul>
            <li th:each="vastaus : ${vastaukset}">
                <span th:text="${vastaus.vastausteksti}">Vastauksen teksti</span><form method ="POST" th:action="@{~/poistaVastaus/{id}(id=${vastaus.id})}"><input type="submit" value="Poista"/></form>
            </li>
        </ul>
        <h3>Vastaa:</h3>
        
        <form method="POST" th:action="@{~/vastaa/{id}(id=${kysymys.id})}">
            <input type="text" name="teksti"/>
            <input type="submit" value="Syötä"/>
        </form> 
        
        
    </body>
</html>
